<mat-toolbar class="gap-3 rainbow-wrapper">
  <mat-icon class="fa-spin" aria-hidden="false" aria-label="Example home icon">
    brightness_high
  </mat-icon>
  <span class="fw-bold">Word-bomb</span>
  <!--  <button class="ms-auto" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">-->
  <!--    <mat-icon>flag</mat-icon>-->
  <!--  </button>-->
  <!--  <mat-menu #menu="matMenu">-->
  <!--    <button mat-menu-item>-->
  <!--      <img-->
  <!--        src="assets/images/flags/united.svg"-->
  <!--        alt="triangle with all three sides equal"-->
  <!--        height="24"-->
  <!--        width="24"-->
  <!--        class="icon-margin"/>-->
  <!--      <span>English</span>-->
  <!--    </button>-->
  <!--    <button mat-menu-item>-->
  <!--      <img-->
  <!--        src="assets/images/flags/france.svg"-->
  <!--        alt="triangle with all three sides equal"-->
  <!--        height="24"-->
  <!--        width="24"-->
  <!--        class="icon-margin"/>-->
  <!--      <span>French</span>-->
  <!--    </button>-->
  <!--    <button mat-menu-item>-->
  <!--      <img-->
  <!--        src="assets/images/flags/japan.svg"-->
  <!--        alt="triangle with all three sides equal"-->
  <!--        height="24"-->
  <!--        width="24"-->
  <!--        class="icon-margin"/>-->
  <!--      <span>Japanese</span>-->
  <!--    </button>-->
  <!--  </mat-menu>-->
  <!--</mat-toolbar>-->
